/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #535353 0%, #797979 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
}

.photo-card {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 250px;
  font-size: 28px;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.button-group {
  display: flex;
  flex-direction: column; /* Organiza os botões em coluna */
  align-items: center;
  margin-top: 10px;
}

.button-group button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #66a6ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px; /* Espaçamento entre os botões */
}

.button-group button:hover {
  background-color: #89f7fe;
}
